<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Come find local Tennis courts beloved by the Toronto Community! Add your
      own and give it a 1-5 rating!
    </p>
    <% locations.forEach(location => { %>
    <div class="court-item">
      <a href="/locations/<%=location._id%>/update"
        ><h3><%= location.name %></h3></a
      >
      <p>Address: <%= location.address %></p>
      <ul>
        <!-- loop through array of reviews(for eahc within for each) -->
        <li><%= location.review %></li>
      </ul>
      <form
        action="/locations/<%= location.id %>?_method=DELETE"
        class="delete-form"
        method="POST"
      >
        <button type="submit">Delete</button>
      </form>
      <form action="/locations/<%= location._id %>/reviews" method="POST">
        <input type="text" name="review" />
        <input type="number" min="1" max="5" value="1" name="rating" />
        <button type="submit">Add Review</button>
      </form>
    </div>
    <% }) %>
    <a class="add" href="/locations"> Add New Location </a>
  </body>
</html>
